.dimensions {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.dimension input {
  font-size: 1rem;
  text-align: center;
  border: 2px solid;
  border-radius: 4px;
  margin: 0.25rem 0.5rem;
  max-width: 1.5rem;
  padding: 0.5rem;
}

.button-grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.button-grid tbody {
  background-color: #fff;
  margin: 2rem;
}

.solve-button,
.solve-button:link,
.solve-button:visited {
  width: 20%;
  margin: 5%;
  height: 50px;
  font-size: large;
  background-color: #fff;
  border: 3px solid #00f;
  cursor: pointer;
}

.solve-button:hover,
.solve-button:active {
  border: 3px solid #fff;
  background-color: #00f;
  color: #fff;
}
