.App {
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.App-header {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.App-description {
  font-family: "Roboto", sans-serif;
}