.App {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #e8e8e8;
}

.App-header {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.App-description {
  font-family: "Roboto", sans-serif;
}
